	html, body {
		margin:0;
		padding:0;}
    #content {
		padding:15px 20px;
		background-color:#ffffff; }	
	body {
		padding:0;
		width:1000px;
		margin:0 auto;
		background-color:#aaaaaa;
		font: normal 0.75em/1.75 "Georgia", "Times New Roman", serif;
		font-family: "proxima-nova-1","proxima-nova-2", Arial;
		font-size:13px;
		line-height:22px;}
	header {
		border-bottom: solid 1px #cccccc;
		margin-bottom: 20px;}
	ul {
		list-style-type:circle;
		margin-left:20px;
		padding:0; }
	h1 {
		font-size:40px;
		line-height:40px;
		margin:15px 0;
		font-weight:normal;
		color: #4b4b4b;
		text-transform: uppercase; }
	h2 {
		font-family: "Tahoma", "Helvetica", "Droid Sans", sans-serif; 
		font-variant: small-caps;
		font-size:18px;
		margin-top:0px;
		font-weight:normal;}
	h3 {
		color:#193C6F;
		margin:0;}
	footer {
	padding:10px;
	margin-top:20px;
	text-align:center;
	border-top:solid 1px #cccccc;
	}
	section > article {
		margin-bottom: 20px;}
		
	.right-content > section, .left-content > section {
		padding-bottom:20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #cccccc;}
	/*web links*/
	#web-info, #contact-info {
		list-style-type:none;
		padding:0;
		margin:0; }
	#web-info li {
		padding:5px;
		border: solid 1px #efefef;
		float:right;
		box-shadow: 0px 0px 6px 0px #cccccc;
		margin-left:7px; }
	#web-info a {
		width:16px;
		height:16px;
		display:block;}
	#stack-careers-link {
		background: url(../images/careers.png);}
	#stack-profile-link {
		background: url(../images/stack.png); }
	#linkedin-link {
		background: url(../images/linkedin.png);}
	#github-link {
		background: url(../images/github.png);}
	#blog-link {
		background: url(../images/wordpress.png);}
	#website-link{
		background: url(../images/homepage.png);}
	
	/*contact info*/
	#contact-info {
		background-color:#efefef;
		box-shadow: 2px 2px 2px 0px #cccccc;
		padding:10px; }
	#contact-info li {
		/*padding:3px;*/
		padding-left:20px; }
	#email {
		background: url(../images/email.png) no-repeat left center;}
	#phone {
		background: url(../images/phone.png) no-repeat left center;}
	#location {
		background: url(../images/location.png) no-repeat left center;}
	.right-content {
		float:right;
		width:300px; }
	.left-content {
		/*min-width:300px;*/
		overflow:hidden;
	    padding-right:60px;}
	.date {
		float:right; 
		font: normal 12px "Georgia", "Times New Roman", serif;}
	.article-header {
		}
	ul.dotted-border  li{
		border-bottom: dashed 1px #cccccc;}
	
	@media only screen and (max-width: 600px) {
	    .right-content {
			float:none;
			width:100%; }
		.left-content {
			padding-right:0px; }
		#web-info li {
			float:left;}
	}
	@media only screen and (min-width: 600px) {
		.right-content > section:last-child, .left-content > section:last-child {
			border-bottom:0;
			margin-bottom:0;
			padding-bottom:0;}
	}
	@media only screen and (max-width: 1000px) {
		body {
			width:auto;
			margin:0; }
	}